<h1>You have already paid this order or something wrong happened!</h1>
<p>Please, go back to the beginning </p>
<%= link_to  root_path, class: "btn btn-danger btn-block btn-sm" do %>
  <span>Go back</span>
<% end %>
